@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, 'sans-serif';
}
nav{
    width: 95%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    border-bottom: solid 2px #000;
    justify-content: space-between;
}
.brand{
    margin: 25px 0px;
}
.brand a{
    color: #000;
    font-weight: bolder;
    text-decoration: none;
    font-size: larger;
}
.navbar{
    margin: 25px 0px;
}
.navbar ul li{
    display: inline;
}
.navbar ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin: 25px;
}
.navbar ul li a:hover{
    color: #802A3B;
    text-shadow: 10px 10px #AAAAAA;
}
form{
    margin: 25px 0px;
}
form a{
    padding: 10px 30px;
    color: #000;
    text-decoration: none;
    border-right: solid 2px #000;
    border-bottom: solid 2px #000;
}
form a:hover{
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
    background-color: #000;
    font-weight: bolder;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
}
#profile{
    margin: 0 auto;
}
.profile-font{
    width: 50%;
    height: 100%;
    padding: 100px 0px 0px 180px;
    float: left;
}
.profile-font h1{
    font-size: 50px;
    letter-spacing: 2px;
}
.profile-font p{
    margin: 30px 0px 60px 0px;
    color: #AAAAAA;
}
.profile-font a{
    color: #000;
    font: bold;
    padding: 10px 20px;
    border: solid 2px #000;
    box-shadow: -10px 10px #000;
    text-decoration: none;
}
.profile-font a:hover{
    color: #FFF;
    background-color: #000;
    font-weight: bolder;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.box{
    flex-basis: 25%;
    margin: 80px 0px 80px 0px;
}
.box h2{
    font-size: 32px;
}
.box p{
    margin: 0px 0px;
    padding: 10px;
}
.profile-img{
    width: 50%;
    height: 100%;
    padding: 70px 60px 0px 0px;
    float: left;
}
.profile-img .card{
    float: left;
    width: 280px;
    height: 400px;
    border: solid 2px #000;
    padding: 5px 7px;
    box-shadow: -15px 15px;
    transform: rotate(10deg);
    background-color: #fff;
    z-index: 1;
    position: relative;
}
.profile-img .card h1{
    margin: 10px 0px;
    float: left;
}
.profile-img .card span{
    margin: 15px 0px;
    font-size: small;
    float: right;
    color: #AAAAAA;
}
.profile-img .card img{
    width: 100%;
    object-fit: contain;
    height: 260px;
}
.card .coloumn .left{
    float: left;
    padding: 5px;
}
.card .coloumn .left p{
    font-size: small;
    margin: 5px 0px;
    color: #AAAAAA;
}
.card .coloumn .left h1{
    font-size: medium;
    margin: 0px;

}
.card .coloumn .right{
    float: right;
    padding: 5px;
}
.card .coloumn .right p{
    font-size: small;
    margin: 5px 0px;
    color: #AAAAAA;
}
.card .coloumn .right h1{
    font-size: large;
    letter-spacing: 2px;
    margin: 0px;
}
.profile-img .card-mini{
    float: left;
    width: 230px;
    height: 285px;
    border: solid 2px #000;
    padding: 5px 7px;
    margin: 100px -60px;
    box-shadow: -8px 8px;
    transform: rotate(-15deg);
    position: relative;
}
.profile-img .card-mini h1{
    font-size: medium;
    margin: 5px 0px;
    float: left;
}
.profile-img .card-mini span{
    margin: 7px 0px;
    font-size: smaller;
    float: right;
    color: #AAAAAA;
}
.profile-img .card-mini img{
    width: 100%;
    height: 170px;
    object-fit: contain;
}
.card-mini .coloumn .left{
    float: left;
    padding: 5px;
}
.card-mini .coloumn .left p{
    font-size: smaller;
    margin: 5px 0px;
    color: #AAAAAA;
}
.card-mini .coloumn .left h1{
    font-size: smaller;
    margin: 0px;

}
.card-mini .coloumn .right{
    float: right;
    padding: 5px;
}
.card-mini .coloumn .right p{
    font-size: smaller;
    margin: 5px 0px;
    color: #AAAAAA;
}
.card-mini .coloumn .right h1{
    float: right;
    font-size: small;
    letter-spacing: 2px;
    margin: 0px;
}
.trending{
    width: 100%;
    height: 450px;
    margin-top: 60%;
    padding: 90px 180px;
    color: #fff;
    background-color: #000;
}
.trending-img{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    margin: 0 auto;
}
.trending-img .card-mini{
    width: 220px;
    height: 285px;
    border: solid 2px #000;
    color: #000;
    padding: 5px 7px;
    margin: 115px 0px 0px 30px;
    position: relative;
    background-color: #fff;
}
.trending-img .card-mini h1{
    font-size: medium;
    margin: 5px 0px;
    float: left;
}
.trending-img .card-mini span{
    margin: 7px 0px;
    font-size: smaller;
    float: right;
    color: #AAAAAA;
}
.trending-img .card-mini img{
    width: 100%;
    height: 170px;
    object-fit: contain;
}
.trending-img .card{
    float: left;
    width: 280px;
    height: 400px;
    color: #000;
    border: solid 2px #000;
    padding: 5px 7px;
    margin: 0px 0px 0px 30px;
    background-color: #fff;
    z-index: 1;
    position: relative;
}
.trending-img .card h1{
    margin: 10px 0px;
    float: left;
    font-size: medium;
}
.trending-img .card span{
    margin: 10px 0px;
    font-size: small;
    float: right;
    color: #AAAAAA;
}
.trending-img .card img{
    width: 100%;
    height: 260px;
    object-fit: contain;
}
#product{
    width: 100%;
    margin-top: 250px;
}
.product{
    margin: 0px 0px 70px 0px;
    padding: 0px 180px;
    display: flex;
    justify-content: space-between;
}
.product h1{
    font-size: 40px;
}
.product p{
    color: #AAAAAA;
}
.nav-product{
    margin: 100px 0px 100px 0px;
    display: inline;
    padding: 0px 180px;
}
.nav-product a{
    margin: 0px 20px 0px 0px;
    border: solid 2px #000;
    border-radius: 50px;
    padding: 0px 10px;
    color: #000;
    text-decoration: none;
}
.nav-product a:hover{
    color: #fff;
    font-weight: bolder;
    background-color: #000;
    box-shadow: -5px 5px rgba(0, 0, 0, 0.5);
}
.nav-card-list{
    width: 100%;
    height: 400px;
    margin: 25px auto;
}
.container{
    display: flex;
    margin: 0 auto;
    padding: 0px 120px;
}
.box-card{
    margin: 0 auto;
}
.box-card .card{
    width: 280px;
    height: 400px;
    margin: 0px 15px;
    color: #000;
    border: solid 2px #000;
    padding: 5px 7px;
    background-color: #fff;
}
.box-card .card:hover{
    color: #fff;
    background: linear-gradient(to bottom, #002c54, #000);
    box-shadow: -15px 15px #EFB509;
    border: solid 3px #fff;
}
.box-card .card h1{
    margin: 10px 0px;
    float: left;
    font-size: medium;
}
.box-card .card span{
    margin: 10px 0px;
    font-size: small;
    float: right;
    color: #AAAAAA;
}
.box-card .card img{
    width: 100%;
    height: 260px;
    object-fit: contain;
}
#service{
    margin-top: 100px;
}
.service{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    padding: 0px 180px;
    display: flex;
}
.service-heading h1{
    text-align: center;
    font-size: 40px;
}
.service-heading p{
    margin: 15px 0px;
    text-align: center;
}
.box-service{
    width: 300px;
    height: 400px;
    flex-grow: 1;
    border: solid 2px #000;
    border-radius: 10px;
    text-align: center;
    margin: 20px 10px;
}
.box-service img{
    margin: 20px;
    width: 150px;
    height: 150px;
    border: solid 2px #000;
    border-radius: 100px;
    object-fit: cover;
}
.box-service h2{
    margin: 10px 0px;
}
.box-service p{
    margin: 15px 0px;
    padding: 0px 30px;
}
#contact-us{
    height: 800px;
    margin: 25px auto;
}
#contact-us h1{
    text-align: center;
    font-size: 40px;
}
.contact-us{
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
.gallery{
    margin: 25px auto;
    width: 368px;
    height: 564px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border: solid 5px #000;
}
.gallery:hover{
    border: solid 5px #EFB509;
}
.gallery img{
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    position: sticky;
    top: 0;
}
